<div class="cards grid grid-cols-1 gap-[30px] md:grid-cols-2 lg:grid-cols-3">
    <div class="card bg-[#3c3c3b] p-[20px] text-white flex flex-col justify-center items-center gap-[5px] md:rounded-bl-full md:rounded-tr-full">
        <i class="fa-brands fa-servicestack text-[40px] text-[#f7a813]"></i>
        <h2 class="text-[20px] font-bold capitalize">Services</h2>
        <span class=""><%= countServices %></span>
        <a class="uppercase text-[#f7a813]" href="/services">go all services</a>
    </div>
    <div class="card bg-[#3c3c3b] p-[20px] text-white flex flex-col justify-center items-center gap-[5px] md:rounded-bl-full md:rounded-tr-full">
        <i class="fa-solid fa-diagram-project text-[40px] text-[#f7a813]"></i>
        <h2 class="text-[20px] font-bold capitalize">projects</h2>
        <span class=""><%= countProjects %></span>
        <a class="uppercase text-[#f7a813]" href="/projects">go all projects</a>
    </div>
    <div class="card bg-[#3c3c3b] p-[20px] text-white flex flex-col justify-center items-center gap-[5px] md:rounded-bl-full md:rounded-tr-full">
        <i class="fa-solid fa-message text-[40px] text-[#f7a813]"></i>
        <h2 class="text-[20px] font-bold capitalize">message</h2>
        <span class=""><%= countMessage %></span>
        <a class="uppercase text-[#f7a813]" href="/message">go all message</a>
    </div>
</div>